*{
    padding: 0;
    margin: 0;
}

/*------------navbar top-----------*/
.navbar-top{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.social-link i img{
    margin-left: 10px;
    transition: 0.5s ease-in-out;
    cursor: pointer;

}

.social-link i img:hover{
    background: rgb(238, 244, 214);
    border-radius: 50px;
}

@media screen and (max-width:420px) {
    .social-link i img{
        width: 20px;
    }
}
.logo h3{
    font-weight: bold;
}
@media screen and (max-width:420px) {
    .logo h3{
        font-size: 20px;
    }
}

.icon i img{
    margin-left: 10px;
    cursor: pointer;
}
@media screen and (max-width:420px) {
    .icon i img{
        width: 20px;
    }
}

/*------------Main-content-----------*/
.main-content{
    width: 100%;
    height: 90vh;
    background-image: url(/image/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*------------navbar-----------*/

#navbar-color{
    background-color: rgb(238, 244, 214);
}
.navbar-nav{
    margin: auto;
}
.nav-link{
    font-weight: bold;
    color: black;
    margin-left: 30px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.nav-link:hover{
    color: rgb(232, 220, 205);
}

/*------------Content-----------*/
.content{
    margin-top: 150px;
    margin-left: 60px;
}
.content h1{
    font-size: 50px;
}

/*------------btn01 button-----------*/
#btn01 button{
    width: 215px;
    height: 32px;
    background: transparent;
    border: 1px solid black;
    letter-spacing: 3px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
#btn01 button:hover{
    background-color: green;
    color: #f1f1ff;
}
@media screen and (max-width:420px){
    .content h1{
        font-size: 30px;
    }
}

/*------------card1-----------*/
#btn02 button{
    width: 100px;
    height: 30px;
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

#btn02 button:hover{
    background-color: rgb(232, 220, 205);
    color: black;
    border: none;
}

/*------------card2-----------*/
#tpc{
    box-shadow: 0 0 5px black;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
#tpc:hover{
    transform: translateY(-10px);
}

/*------------card3-----------*/

#c p{
    font-weight: 800;
}
#btn03{
    text-align: center;
}
#btn03 button{
    width: 150px;
    height: 30px;
    background: transparent;
    border: 1px solid black;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
#btn03 button:hover{
    background-color: rgb(238, 244, 214);
}
@media screen and (max-width:895px){
    #btn03 button{
        width: 100px;
    }
}


/*------------  footer      -----------*/
#footer{
    width: 100%;
    background-color: black;
    margin-top: 100px;
}
#footer h1{
    color: #f1f1ff;
    padding-top: 30px;
}
#footer p{
    color: #f1f1ff;
}
#footer i{
    color: #f1f1ff;
    font-size: 30px;
    cursor: pointer;
}
.copyright{
    color: #f1f1ff;
    margin-top: 20px;
}
.credite{
    color: #f1f1ff;
}

/*------------  About page      -----------*/
